<div class="celebs-search well">
  <form class="celebs-search--form form-horizontal" role="form" method="GET" action="/search" data-jsonaction="/search.json">
    <div class="input-append">
      <input type="text" name="q" id="celebs-search-input" class="celebs-search--name form-control" placeholder="Celebrity Name" value="<%= @search_str %>">
      <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </form>
</div>
