<div id="wrap" class="row">

  <%= render 'searchForm' %>

  <div id="content">
    <div class="panel panel-danger">
      <div class="panel-body">
        <div class="celebitem__empty">Something went wrong...</div>
      </div>
    </div>
  </div>

</div>